.tag-center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mat-card-image {
    width: 220px;
    height: 280px;
    margin: auto;
    margin-bottom: 20px;
    display: block;
}

.wrap-line {
    white-space: pre-line;
}